body:has(.Modal.open){
  overflow-y: hidden;
}

.Modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background: rgba(#000,.85);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .5s ease-in-out;
  &.open{
    opacity: 1;
  }
}
